In [10]:
import pandas as pd

df = pd.read_csv(r'C:\Users\User\Desktop\Data\ML\Tasks\playstore - playstore.csv')
print(df)

       Unnamed: 0                                                App  \
0               0     Photo Editor & Candy Camera & Grid & ScrapBook
1               1                                Coloring book moana
2               2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3               3                              Sketch - Draw & Paint
4               4              Pixel Draw - Number Art Coloring Book
...           ...                                                ...
10835       10835                                   Sya9a Maroc - FR
10836       10836                   Fr. Mike Schmitz Audio Teachings
10837       10837                             Parkinson Exercices FR
10838       10838                      The SCP Foundation DB fr nn5n
10839       10839      iHoroscope - 2018 Daily Horoscope & Astrology

                  Category  Rating  Reviews                Size     Installs  \
0           ART_AND_DESIGN     4.1      159                 19M      10,000+
1           ART_AND_DESIGN     3.9      967                 14M     500,000+
2           ART_AND_DESIGN     4.7    87510                8.7M   5,000,000+
3           ART_AND_DESIGN     4.5   215644                 25M  50,000,000+
4           ART_AND_DESIGN     4.3      967                2.8M     100,000+
...                    ...     ...      ...                 ...          ...
10835               FAMILY     4.5       38                 53M       5,000+
10836               FAMILY     5.0        4                3.6M         100+
10837              MEDICAL     NaN        3                9.5M       1,000+
10838  BOOKS_AND_REFERENCE     4.5      114  Varies with device       1,000+
10839            LIFESTYLE     4.5   398307                 19M  10,000,000+

       Type Price Content Rating                     Genres      Last Updated  \
0      Free     0       Everyone               Art & Design   January 7, 2018
1      Free     0       Everyone  Art & Design;Pretend Play  January 15, 2018
2      Free     0       Everyone               Art & Design    August 1, 2018
3      Free     0           Teen               Art & Design      June 8, 2018
4      Free     0       Everyone    Art & Design;Creativity     June 20, 2018
...     ...   ...            ...                        ...               ...
10835  Free     0       Everyone                  Education     July 25, 2017
10836  Free     0       Everyone                  Education      July 6, 2018
10837  Free     0       Everyone                    Medical  January 20, 2017
10838  Free     0     Mature 17+          Books & Reference  January 19, 2015
10839  Free     0       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                1.2.2004        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10835                1.48          4.1 and up
10836                 1.0          4.1 and up
10837                 1.0          2.2 and up
10838  Varies with device  Varies with device
10839  Varies with device  Varies with device

[10840 rows x 14 columns]

In [14]:
# Task 1: Save the first 3 rows of the DataFrame to the variable data_head and the last 3
# rows to data_tail, respectively.

#first 3 row
df.head(3)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.2004,4.0.3 and up

In [16]:
#last 3 rowss
df.tail(3)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10837,10837,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,10838,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,10839,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [26]:
# Task 2: Save the number of columns and rows in the DataFrame to the variables n_col and
# n_row, respectively.

df.shape
n_row = df.shape[0]
n_col = df.shape[1]

print('row =',n_row,'col =',n_col)

row = 10840 col = 14

In [34]:
# Task 3: Now, let's see how many unique applications are in our data (the App column).

import duckdb

con = duckdb.connect()
new_df = con.execute("""
    SELECT 
        App, COUNT(App) AS Say
    FROM df
    GROUP BY App
    ORDER BY Say
""").df()

print(new_df)

                                                    App  Say
0               Smoke Effect Photo Maker - Smoke Editor    1
1       3D Color Pixel by Number - Sandbox Art Coloring    1
2                                  Real Tractor Farming    1
3                         Used Cars and Trucks for Sale    1
4                              American Muscle Car Race    1
...                                                 ...  ...
9654                                               ESPN    7
9655                                   Candy Crush Saga    7
9656                                        8 Ball Pool    7
9657  CBS Sports App - Scores, News, Stats & Watch Live    8
9658                                             ROBLOX    9

[9659 rows x 2 columns]

In [36]:
import duckdb

con = duckdb.connect()
unique_app = con.execute("""
    SELECT 
        COUNT(DISTINCT App) AS Say
    FROM df
""").df()

print(unique_app)

    Say
0  9659

In [44]:
# Task 4: Let's count the number of missing values in the application rating column. Save the
# number of missing values in the Rating column to the variable rating_missing.

rating_missing = df['Rating'].isnull().sum()
print(rating_missing)

1474

In [ ]:
# Task 5: Let's learn how to combine DataFrames and get acquainted with the concat
# function. Suppose we want to create a DataFrame that includes: the first three rows of the
# original DataFrame, rows 6-8 (inclusive), rows 16-19 (inclusive), and the columns: App,
# Size, Genres, Current Ver in that order. Essentially, this will look like combining three
# smaller DataFrames, which are slices of the original data. As your answer, upload the
# resulting DataFrame in CSV format. When saving the final DataFrame, the index column
# should be kept.
# NB! Remember zero-based indexing and the rules for including/excluding boundaries when
# slicing.

In [66]:
df1 = df.head(3)
df2 = df[6:9]
df3 = df[16:20]

final_df = pd.concat([df1,df2,df3])

print(final_df)

    Unnamed: 0                                                App  \
0            0     Photo Editor & Candy Camera & Grid & ScrapBook
1            1                                Coloring book moana
2            2  U Launcher Lite – FREE Live Cool Themes, Hide ...
6            6            Smoke Effect Photo Maker - Smoke Editor
7            7                                   Infinite Painter
8            8                               Garden Coloring Book
16          16       Photo Designer - Write your name with shapes
17          17                           350 Diy Room Decor Ideas
18          18                      FlipaClip - Cartoon animation
19          19                                       ibis Paint X

          Category  Rating  Reviews  Size     Installs  Type Price  \
0   ART_AND_DESIGN     4.1      159   19M      10,000+  Free     0
1   ART_AND_DESIGN     3.9      967   14M     500,000+  Free     0
2   ART_AND_DESIGN     4.7    87510  8.7M   5,000,000+  Free     0
6   ART_AND_DESIGN     3.8      178   19M      50,000+  Free     0
7   ART_AND_DESIGN     4.1    36815   29M   1,000,000+  Free     0
8   ART_AND_DESIGN     4.4    13791   33M   1,000,000+  Free     0
16  ART_AND_DESIGN     4.7     3632  5.5M     500,000+  Free     0
17  ART_AND_DESIGN     4.5       27   17M      10,000+  Free     0
18  ART_AND_DESIGN     4.3   194216   39M   5,000,000+  Free     0
19  ART_AND_DESIGN     4.6   224399   31M  10,000,000+  Free     0

   Content Rating                     Genres        Last Updated Current Ver  \
0        Everyone               Art & Design     January 7, 2018       1.0.0
1        Everyone  Art & Design;Pretend Play    January 15, 2018       2.0.0
2        Everyone               Art & Design      August 1, 2018    1.2.2004
6        Everyone               Art & Design      April 26, 2018         1.1
7        Everyone               Art & Design       June 14, 2018    6.1.61.1
8        Everyone               Art & Design  September 20, 2017    2.9.2002
16       Everyone               Art & Design       July 31, 2018         3.1
17       Everyone               Art & Design    November 7, 2017         1.0
18       Everyone               Art & Design      August 3, 2018    2.2.2005
19       Everyone               Art & Design       July 30, 2018    5.5.2004

     Android Ver
0   4.0.3 and up
1   4.0.3 and up
2   4.0.3 and up
6   4.0.3 and up
7     4.2 and up
8     3.0 and up
16    4.1 and up
17    2.3 and up
18  4.0.3 and up
19    4.1 and up

In [68]:
# Task 6: For further analysis, we need to remove duplicate applications (from the App
# column) and reset the index. Save the result as a DataFrame in the variable
# unique_playstore.

unique_playstore = df.drop_duplicates(subset='App').reset_index(drop=True)
print(unique_playstore)

      Unnamed: 0                                                App  \
0              0     Photo Editor & Candy Camera & Grid & ScrapBook
1              1                                Coloring book moana
2              2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3              3                              Sketch - Draw & Paint
4              4              Pixel Draw - Number Art Coloring Book
...          ...                                                ...
9654       10835                                   Sya9a Maroc - FR
9655       10836                   Fr. Mike Schmitz Audio Teachings
9656       10837                             Parkinson Exercices FR
9657       10838                      The SCP Foundation DB fr nn5n
9658       10839      iHoroscope - 2018 Daily Horoscope & Astrology

                 Category  Rating  Reviews                Size     Installs  \
0          ART_AND_DESIGN     4.1      159                 19M      10,000+
1          ART_AND_DESIGN     3.9      967                 14M     500,000+
2          ART_AND_DESIGN     4.7    87510                8.7M   5,000,000+
3          ART_AND_DESIGN     4.5   215644                 25M  50,000,000+
4          ART_AND_DESIGN     4.3      967                2.8M     100,000+
...                   ...     ...      ...                 ...          ...
9654               FAMILY     4.5       38                 53M       5,000+
9655               FAMILY     5.0        4                3.6M         100+
9656              MEDICAL     NaN        3                9.5M       1,000+
9657  BOOKS_AND_REFERENCE     4.5      114  Varies with device       1,000+
9658            LIFESTYLE     4.5   398307                 19M  10,000,000+

      Type Price Content Rating                     Genres      Last Updated  \
0     Free     0       Everyone               Art & Design   January 7, 2018
1     Free     0       Everyone  Art & Design;Pretend Play  January 15, 2018
2     Free     0       Everyone               Art & Design    August 1, 2018
3     Free     0           Teen               Art & Design      June 8, 2018
4     Free     0       Everyone    Art & Design;Creativity     June 20, 2018
...    ...   ...            ...                        ...               ...
9654  Free     0       Everyone                  Education     July 25, 2017
9655  Free     0       Everyone                  Education      July 6, 2018
9656  Free     0       Everyone                    Medical  January 20, 2017
9657  Free     0     Mature 17+          Books & Reference  January 19, 2015
9658  Free     0       Everyone                  Lifestyle     July 25, 2018

             Current Ver         Android Ver
0                  1.0.0        4.0.3 and up
1                  2.0.0        4.0.3 and up
2               1.2.2004        4.0.3 and up
3     Varies with device          4.2 and up
4                    1.1          4.4 and up
...                  ...                 ...
9654                1.48          4.1 and up
9655                 1.0          4.1 and up
9656                 1.0          2.2 and up
9657  Varies with device  Varies with device
9658  Varies with device  Varies with device

[9659 rows x 14 columns]

In [72]:
# Task 7: In this task, the column names need to be brought to a standard format — all letters
# should be lowercase, and spaces should be replaced with underscores. Methods that might
# be useful:

df.columns = df.columns.str.lower().str.replace(' ','_')
df.columns

Index(['unnamed:_0', 'app', 'category', 'rating', 'reviews', 'size',
       'installs', 'type', 'price', 'content_rating', 'genres', 'last_updated',
       'current_ver', 'android_ver'],
      dtype='object')

In [93]:
# Task 8: Let's look at the proportion of paid and free applications. As your answer, provide
# the proportion of free applications. Round the answer to two decimal places, using a period
# as the decimal separator.

unique_df = df.drop_duplicates(subset='app').reset_index(drop=True)
free_count = unique_df[unique_df['type'] == 'Free'].shape[0]
app_count = unique_df['app'].shape[0]
proportion = round(free_count/app_count,2)
print(proportion)

0.92

In [ ]:
# Task 9: From the DataFrame, select only the applications that belong to the EDUCATION
# category and have more than 1000 user reviews. Save the new DataFrame to the variable
# education_playstore. The data has been cleaned of duplicates, and the column names
# have been transformed according to the previous tasks and saved in the
# playstoreDataFrame.

In [99]:
import duckdb

con = duckdb.connect()
playstoreDataFrame = con.execute(""" SELECT app FROM df WHERE category = 'EDUCATION' AND reviews > 1000 """).df()

print(playstoreDataFrame)

                                                   app
0                       Duolingo: Learn Languages Free
1                                                  TED
2    English Communication - Learn English for Chin...
3                                         Khan Academy
4                           Learn English with Wlingua
..                                                 ...
130                  SoloLearn: Learn to Code for Free
131                     Kids Learn Languages by Mondly
132                        Blinkist - Nonfiction Books
133                                    Toca Life: City
134                                Toca Life: Hospital

[135 rows x 1 columns]

In [97]:
df['reviews'] = pd.to_numeric(df['reviews'], errors='coerce').astype('Int64')

In [109]:
# Task 10: Let's remove the extra symbols from the price column (price) to make it easier to
# work with, and convert the data to the float type.

df['price']

0        0
1        0
2        0
3        0
4        0
        ..
10835    0
10836    0
10837    0
10838    0
10839    0
Name: price, Length: 10840, dtype: object

In [ ]:
# # Task 11: For the final task, you need to create a pivot table from the data.

# The columns must have the corresponding names, and the table values should be rounded
# to the specified number of decimal places. As your answer, upload the resulting table in CSV
# format (using a comma , as the separator).
# NB! You will need to search online for "Pandas pivot table".
# NB! The table should be created from the data with duplicates removed.

In [111]:
df_unique = df.drop_duplicates()

In [113]:
# Task 12: The Installs and Size columns are not in a numeric format. Clean both
# columns to make them usable for calculations. ??

df['installs']

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10835         5,000+
10836           100+
10837         1,000+
10838         1,000+
10839    10,000,000+
Name: installs, Length: 10840, dtype: object

In [ ]:
# Task 13: The last_updated column contains date information. Let's use it to find out how
# many apps were updated each year.

In [129]:
df['last_updated'] = pd.to_datetime(df['last_updated'], errors='coerce').dt.year

In [131]:
df['last_updated']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
10835    2017
10836    2018
10837    2017
10838    2015
10839    2018
Name: last_updated, Length: 10840, dtype: int32

In [135]:
import duckdb

con = duckdb.connect()
app_year = con.execute(""" SELECT last_updated, COUNT(app) AS app_count FROM df GROUP BY last_updated""").df()

print(app_year)

   last_updated  app_count
0          2012         26
1          2018       7349
2          2014        209
3          2015        459
4          2010          1
5          2016        804
6          2017       1867
7          2011         15
8          2013        110

In [ ]:
# Task 14: Let's find the top 5 most expensive app categories.

In [ ]:
# Task 15: The genres column can contain multiple categories for a single app (e.g., "Art &
# Design;Creativity"). This format is not ideal for analysis. Your task is to determine the most
# common (top 10) individual genres. Sort them in the final table by their

In [139]:
df['genres']

0                     Art & Design
1        Art & Design;Pretend Play
2                     Art & Design
3                     Art & Design
4          Art & Design;Creativity
                   ...
10835                    Education
10836                    Education
10837                      Medical
10838            Books & Reference
10839                    Lifestyle
Name: genres, Length: 10840, dtype: object

In [145]:
df['genres'].dropna().str.split(';').explode()

0             Art & Design
1             Art & Design
1             Pretend Play
2             Art & Design
3             Art & Design
               ...
10835            Education
10836            Education
10837              Medical
10838    Books & Reference
10839            Lifestyle
Name: genres, Length: 11338, dtype: object

In [151]:
all_genres.value_counts().head(10)

genres
Tools              843
Education          761
Entertainment      667
Medical            463
Business           460
Productivity       424
Sports             402
Personalization    392
Communication      388
Lifestyle          383
Name: count, dtype: int64